@import "normalize.css";
* {
  box-sizing: border-box;
}
/* Container */
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #7b7b79;
  line-height: 1.6;
}
.button-o {
  border: 2px solid #8d9f5e;
  padding: 17px 22px;
  text-transform: uppercase;
  color: #8d9f5e;
  background-color: #fff;
}
@media (max-width: 770px) {
  .button-o {
    font-size: 10px;
  }
}
.button {
  border: none;
  padding: 25px 45px;
  text-transform: uppercase;
  background-color: #8d9f5e;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
}
.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  width: 100%;
  left: 0;
  padding: 16px 0;
  background-color: #473c33;
  transition: 0.2s;
  transform: translateY(-200%);
  opacity: 0;
}
@media (max-width: 770px) {
  .menu {
    top: 60px;
  }
}
.menu_active {
  transform: translateY(0);
  opacity: 1;
}
.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 770px) {
}
.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 770px) {
  .menu__link {
    margin-bottom: 20px;
  }
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid #7b7b79;
  border-left: 1px solid #7b7b79;
  height: 80px;
  width: 70px;
}
@media (max-width: 770px) {
  .menu-button {
    height: 60px;
  }
}
.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fec868;
  margin: 2px 0;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__mobile,
.navbar__vast {
  text-align: right;
}
@media (max-width: 990px) {
  .navbar__mobile,
  .navbar__vast {
    display: none;
  }
}
.navbar__phone {
  display: block;
  font-size: 19px;
  text-decoration: none;
  color: #262626;
  font-weight: 700;
}
.navbar__small-text {
  display: block;
  text-decoration: none;
  color: #7b7b79;
}
.navbar .logo__text {
  display: block;
  font-size: 18px;
  color: #262626;
  text-transform: uppercase;
}
.navbar .logo__description {
  display: block;
  color: #7b7b79;
}
@media (max-width: 770px) {
  .navbar .logo {
    display: none;
  }
}
.hero {
  background: #f1f1f1 url("../images/hero-bg.jpg") no-repeat right top 65px;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}
@media (max-width: 770px) {
  .hero {
    background-size: 100%;
    background-position: top right;
  }
}
.hero__title {
  font-size: 30px;
  color: #262626;
  margin-bottom: 40px;
}
.hero__subtitle {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 67px;
}
.offer {
  padding: 129px 0;
}
.offer__block {
  background: #fff url("../images/form-bg.png") no-repeat center right;
  background-size: contain;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -200px;
}
@media (max-width: 990px) {
  .offer__block {
    background-position: center right -100px;
  }
}
@media (max-width: 770px) {
  .offer__block {
    background: #fff;
    padding: 40px;
    margin-top: -300px;
  }
}
.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #262626;
  margin-bottom: 15px;
}
.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 45px;
}
.form__row {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__row input[type="checkbox"]:checked + label:before {
  background-color: green;
}
@media (max-width: 770px) {
  .form__row {
    flex-direction: column;
  }
  .form__row-checkbox {
    flex-direction: row;
  }
}
.form__row .checkbox {
  display: none;
}
.form__row .checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.form__row .checkbox-label:hover {
  cursor: pointer;
}
.form__row .checkbox-label:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  margin-right: 10px;
}
.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}
.form__input {
  border-right-width: 0;
}
.form__input:last-child {
  border-right-width: 1px;
}
@media (max-width: 770px) {
  .form__input {
    margin-bottom: 20px;
  }
}
.form__group {
  flex-basis: 33.333%;
}
@media (max-width: 770px) {
  .form__group {
    width: 100%;
  }
}
.form__button {
  height: 60px;
  width: 100%;
}
.bg-secondary {
  background: #f1f1f1;
}
.input {
  height: 60px;
  width: 100%;
  padding-left: 30px;
  border: 1px solid #dddddd;
}
/*# sourceMappingURL=main.css.map */