@import "normalize.css";
@title-text: #262626;
@body-text: #7b7b79;
@main-color: #473c33;
@secondary-color: #fec868;
@accent-color: #8d9f5e;
*{
  box-sizing: border-box;
}
/* Container */
.container{
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
@mobile-sm: ~"(max-width: 575px)";
@mobile: ~"(max-width: 770px)";
@tablet: ~"(max-width: 990px)";
@notebook: ~"(max-width: 1230px)";
body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: @body-text;
  line-height: 1.6;
}
.button-o{
  border: 2px solid @accent-color;
  padding: 17px 22px;
  text-transform: uppercase;
  color: @accent-color;
  background-color: #fff;
  @media @mobile{
    font-size: 10px;
  }
}
.button{
  border: none;
  padding: 25px 45px;
  text-transform: uppercase;
  background-color: @accent-color;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
}
.menu{
  position: fixed;
  z-index: 0;
  top: 80px;
  width: 100%;
  left: 0;
  padding: 16px 0;
  background-color: @main-color;
  transition: 0.2s;
  transform: translateY(-200%);
  @media @mobile{
    top: 60px;
    //transform: translateY(0);
  }
  &_active{
    transform: translateY(0);
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media @mobile{
      //flex-direction:column;
    }
  }
  &__link{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    @media @mobile{
      margin-bottom: 20px;
    }
  }
  &-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid @body-text;
    border-left: 1px solid @body-text;
    height: 80px;
    width: 70px;
    @media @mobile{
      height: 60px;
    }
    &__line{
      display: block;
      width: 20px;
      height: 3px;
      background-color: @secondary-color;
      margin: 2px 0;
    }
  }
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
  &-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //min-height: 90px;
  }
  &__mobile, &__vast{
    text-align: right;
    @media @tablet{
      display: none;
    }
  }
  &__phone{
    display: block;
    font-size: 19px;
    text-decoration: none;
    color: @title-text;
    font-weight: 700;
  }
  &__small-text{
    display: block;
    text-decoration: none;
    color: @body-text;
  }

  .logo{
    &__text{
      display: block;
      //margin-bottom: 5px;
      font-size: 18px;
      color: @title-text;
      text-transform: uppercase;
    }
    &__description{
      display: block;
      color: @body-text;
    }
    @media @mobile{
      display: none;
    }
  }
}

.hero{
  background: #f1f1f1 url("../images/hero-bg.jpg") no-repeat right top 65px;
  background-size: contain;
  padding-top: 180px;
  padding-bottom: 270px;
  @media @mobile{
    background-size: cover;
    background-position: top left 40%;
  }
  &__title{
    max-width: 262px;
    font-size: 30px;
    color: @title-text;
    margin-bottom: 0;
  }
  &__subtitle{
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }

}